    h1 {
        color:blue;
    }
    #thirdDiv {
        height: 600px;
        width: 500px;
        background-color: yellowgreen;
        padding: 50px;
        border-width: thick;
        border-color: violet;
        justify-content: center;
        }
    img {
        width: 400px;
        }
    #spanId {
        margin: 50px;
        font-size: 18px;
    }