    h1 {
        color:blue;
        text-align: center;
    }
    body {
        text-align: center;
    }
    #thirdDiv {
        height: 600px;
        width: 500px;
        background-color: yellowgreen;
        padding: 50px;
        border-width: thick;
        border-color: violet;      
    }
    ul {
        display: inline-block;
        text-align: center;
    img {
        width: 400px;
        text-align: center;
        }
    #spanId {
        margin: 50px;
        font-size: 18px;
    }